@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
    
<header>
    <div class="ewg-header">
        <div class="row">
            <div class="col-md-5">
                <a href="/#/" class="ewg-site-header">
                    <span class="ewg-site-title">WARGAME</span>
                    <span class="ewg-wargame-logo-slogan">
                        REPLAY CENTER
                    </span>
                </a>
                
            </div>
        </div>
    </div>
</header>
    @RenderBody()
